RutaModelo/__pycache__
LogicaExtraccionBag/__pycache__
bag
__pycache__
Extraccion
Resultados
deterioros.csv
.vscode
/build
/dist
GUI.spec
/Analizador.spec
/Baches Medidos Mayo03.pdf
/Resultados Bache pag 17
/Resultados pag 6


